@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: 'Work-Sans', sans-serif;
}

.whole{
  position: absolute;
  top: 40vh;
  left:0;
  overflow: hidden;
  width: 99vw;
  height: 80vh;
  background: hsl(275, 100%, 97%);
}

.top{
  position: absolute;
  top: 0;
  left: 0;
  height: 40vh;
  width: 100%;
  background-image: url('./assets/images/background-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.content{
  width: 40vw;
  border-radius: 20px;
  position: absolute;
  top: 30%;
  left: 30%;
}

.star{
  margin-right: 15px;
  margin-bottom: 5px ;
}

.plus{
  position:absolute;
  right: 0;
}

.accordion-header{
  border: none !important;
  outline: none !important;
}

.accordion-button.collapsed::after{
  display: none !important;
}
.accordion-button:not(collapsed)::after{
  display: none !important;
}

.accordion-item{
  border: none !important;
  outline: none !important;
}